%section.fdb-block.mb-5.py-5{style: "background-image: url(#{image_url 'shapes/8.svg'})" }
  .container
    .row.text-left.align-items-center
      .col-10.col-sm-6.m-auto.m-lg-0.col-lg-4
        = lazy_img(asset_url('news.jpg'), nil, 'img-fluid animated fadeInLeft')
      .col-12.col-lg-7.offset-lg-1.pt-4.pt-lg-0.animated
        %h2.animated.fadeInDown= link_to t('articles.title'), articles_path
        %p.lead.animated.fadeIn
          = t 'articles.intro'
        .row.mt-5.animated.fadeInUp
          = render partial: 'articles/article_mini', collection: @articles, as: :article
