- set_meta_tags title: t('seo.pages.about'),
  description: t('seo.pages.about'),
  keywords: t('seo.pages.about'),
  index: true

.tr-section
  .section-title
    %h1 О проекте
  %p Сайт vPodolske.com основан в 2018 году.
  %p Проект является некоммерческим, поддерживается благодаря энтузиазму группы разработчиков и заинтересованными жителями города Подольска.
  %p Основная задача проекта - организация удобной городской online-площадки, выявление информационных потребностей посетителей и их реализация. Также планируется организация offline-акций и участие в партнерских проектах .
  %p На данный момент сайт предлагает:
  %p #{ link_to 'Афиша', events_path } - любой зарегистрированный пользователь может выложить информацию о предстоящем городском событии.
  %p #{ link_to 'Новости', articles_path } - новостной агрегатор ведущих информационных ресурсов города Подольска.
  %p #{ link_to 'Справочник', categories_path } - информационный каталог всех предприятий города.
  %p Мы будем рады любой помощи в развитии проекта!
  %p Если Вы хотите поделиться своими идеями по развитию проекта vPodolske.com или донести любые замечания, заметили ошибку или есть деловые предложения - обязательно #{ link_to 'сообщите нам', new_note_path}.
  %p Вы также можете оказать #{ link_to 'материальную поддержку', :sponsor } сайту и перевести любую удобную для Вас сумму.
