- set_meta_tags title: t(:main),
  description: t('baseseo.main.desc'),
  keywords: t('baseseo.main.words'),
  index: true

.row.mb-4
  = link_to t('organizations.add'), new_organization_path, class: 'btn btn-primary col mx-3'
  = link_to t('events.add'),        new_event_path,        class: 'btn btn-primary col mx-3 mt-3 mt-sm-0'

= render 'articles'
= render 'events'
= render 'organizations'
= render 'comments'