- set_meta_tags title: t(:main),
  description: t('baseseo.main.desc'),
  keywords: t('baseseo.main.words'),
  index: true

.row.mb-4
  = link_to t('organizations.add'), new_organization_path, class: 'btn btn-primary col mx-5'
  = link_to t('events.add'), new_event_path, class: 'btn btn-primary col mx-5'

.card-columns-main
  - unless @articles.empty?
    .card.mb-3
      .card-body
        .section-title.title-before
          %h2= link_to t('articles.last'), articles_path
        %table.table.mb-0= render @articles

  .card.mb-3
    .card-body.local-events
      .section-title.title-before
        %h2= link_to t('events.title'), events_path
      %ul.nav.nav-tabs#events-tab(role='tablist')
        %li.nav-item
          = link_to t('event.today'), '#today',       data: { toggle: 'tab' }, aria: { expanded: true, controls: 'today', selected: 'true' },     class: 'nav-link active', id: 'today-tab'
        %li.nav-item
          = link_to t('event.tomorrow'), '#tomorrow', data: { toggle: 'tab' }, aria: { expanded: true, controls: 'tomorrow', selected: 'false' }, class: 'nav-link',        id: 'tomorrow-tab'
        %li.nav-item
          = link_to t('event.soon'), '#soon',         data: { toggle: 'tab' }, aria: { expanded: true, controls: 'soon', selected: 'false' },     class: 'nav-link',        id: 'soon-tab'
      .tab-content#events-tab-content
        #today.tab-pane.active.fade.show(role='tabpanel' aria-labelledby='today-tab')
          - unless @ev_today.empty?
            .row.row-cols-1.row-cols-md-2
              = render @ev_today, lazy: true
          - else
            %p.mt-4= t 'shared.empty'
        #tomorrow.tab-pane.fade.in(role='tabpanel' aria-labelledby='tomorrow-tab')
          - unless @ev_tomorrow.empty?
            .row.row-cols-1.row-cols-md-2
              = render @ev_tomorrow, lazy: false
          - else
            %p.mt-4= t 'shared.empty'
        #soon.tab-pane.fade.in(role='tabpanel' aria-labelledby='soon-tab')
          - unless @ev_soon.empty?
            .row.row-cols-1.row-cols-md-2
              = render @ev_soon, lazy: false
          - else
            %p.mt-4= t 'shared.empty'

  - if @comments.size > 0
    .card.mb-3
      .card-body
        .section-title.title-before
          %h2= t('comments.new_list')
        = render @comments, show_commentable: true

  - unless @users.empty?
    .card.mb-3
      .card-body
        .section-title.title-before
          %h2= t :newusers

        .row.justify-content-center
          - @users.each do |user|
            = link_to user, class: 'col-sm-3 m-sm-auto' do
              .row.align-items-center
                .col-4
                  = image_tag user.profile.avatar(:thumb), class: 'rounded-circle imf-fluid'

                .col-8
                  .h6.text-muted= user.login
