- set_meta_tags title: t('seo.or.title'),
  description: t('seo.or.desc'),
  keywords: t('seo.or.keyw'),
  image_src: asset_url('orelireshka.jpg'),
  og: { title: t('seo.or.desc'),
  type: 'article',
  published_time: '2018-02-20 10:00',
  description: t('seo.or.desc'),
  url: request.original_url,
  image: asset_url('orelireshka.jpg') },
  index: true

.tr-section.tr-orelreshka
  = image_tag 'orelireshka.jpg', class: 'img-fluid center-block'

  - index = 0

  - @page.css('.simple-content-wrapper ul li').each do |link|
    - index+=1

    - if /\A[А-я]+/.match(link.text).to_s.squish == 'Подольск'
      - @cur_votes = /\d+/.match(link.text).to_s.to_i
      - @cur_place = index
      .center-block.text-center.or-counts
        .text-center.or-counts-item
          .or-counts-round.or-counts-round-one
            %span.glyphicon.glyphicon-signal
            %span.counter= @cur_place
          .or-counts-text= t 'orel_reshka.rate'

        .text-center.or-counts-item
          .or-counts-round.or-counts-round-two
            %span.glyphicon.glyphicon-thumbs-up
            %span.counter= @cur_votes
          .or-counts-text= t 'orel_reshka.votes'

        .text-center.or-counts-item
          .or-counts-round.or-counts-round-three
            = fa_icon 'arrow-up'
            %span.counter
              +
              - prev_points = /\d+/.match(link.previous.text).to_s.to_i
              - if prev_points == @cur_votes
                = votes = /\d+/.match(link.previous.previous.text).to_s.to_i - @cur_votes
              - else
                = votes = /\d+/.match(link.previous.text).to_s.to_i - @cur_votes
          .or-counts-text
            - if prev_points == @cur_votes
              = t 'orel_reshka.need_vote_html', votes: plural(votes, 'vote'), position: (@cur_place-2)
            - else
              = t 'orel_reshka.need_vote_html', votes: plural(votes, 'vote'), position: (@cur_place-1)

  .text-center
    %h1
      = t 'orel_reshka.title'
    %p.vote-block
      = link_to 'https://friday.ru/votes/gorod/', rel: 'nofollow', target: '_blank', class: 'btn btn-primary btn-lg' do
        %i.glyphicon.glyphicon-hand-right
        &nbsp;
        = t 'orel_reshka.vote'
      = link_to '#help', data: { toggle: 'popover', html: 'true', placement: 'left', content: t('orel_reshka.popover_html') }, title: t('orel_reshka.popover_title'), class: 'has-popover or-helper btn text-center' do
        %span ?

    %p.share-block
      = t 'orel_reshka.sharing'
      = render 'orel_share'

.row
  .col-12.col-md-6
    .tr-section.tr-orelreshka
      %p= t 'orel_reshka.intro_1'
      %p= t 'orel_reshka.intro_2'
      %p= t 'orel_reshka.intro_3'
      %p= t 'orel_reshka.intro_4'
      %p= t 'orel_reshka.intro_5'
      %p= t 'orel_reshka.intro_6'
      %p= t 'orel_reshka.intro_7'
      %p= t 'orel_reshka.intro_8'
      %p.text-center.vote-block
        = link_to 'https://friday.ru/votes/gorod/', rel: 'nofollow', target: '_blank', class: 'btn btn-primary btn-lg' do
          = t 'orel_reshka.intro_9'


  .col-12.col-md-3
    .tr-section
      .section-title.title-before
        %h1= t 'orel_reshka.liders'

      - index = 0
      %table.table.table-striped
        - @page.css('.simple-content-wrapper ul li').each do |link|
          - index+=1
          - if (1..10).to_a.include? index
            %tr
              %td
                %strong= index
              %td= link.text
  .col-12.col-md-3
    .tr-section
      .section-title.title-before
        %h1= t 'orel_reshka.near_cities'
      - index = 0
      %table.table.table-striped
        - @page.css('.simple-content-wrapper ul li').each do |link|
          - index+=1
          - if ((@cur_place-4)..@cur_place).to_a.include? index
            %tr{ class: /\A[А-я]+/.match(link.text).to_s.squish == 'Подольск' ? 'info current-city' : nil }
              %td
                %strong= index
              %td= link.text
          - if ((@cur_place+1)..(@cur_place+5)).to_a.include? index
            %tr
              %td
                %strong= index
              %td= link.text
