= content_tag_for(:div, note, class: 'tr-section') do
  .row
    .col-12
      .float-left
        = link_to note.user.login, note.user if note.user
        = note.email
      .float-right
        = link_to note, remote: true, confirm: t('actions.sure'), method: :delete, class: 'btn btn-danger btn-sm' do
          = fa_icon 'trash'
    .col-12
      %hr
      = note.content

