%section.fdb-block.py-0
  .container.my-5
    .row
      .col.py-5
        .fdb-box.fdb-touch
          .row.text-center.justify-content-center
            .col
              .h2= t 'note.new'
              %p.lead= t 'note.newdesc_html', mail: vpodolske_mail
          .row.justify-content-center.pt-4
            .col-12.col-md-8
              = bootstrap_form_for @note do |f|
                .row
                  .col= f.text_area :content, placeholder: Note.human_attribute_name(:content), hide_label: true
                - unless user_signed_in?
                  .row
                    .col
                      = f.text_field :email, placeholder: t('note.email_placeholder'), hide_label: true
                  .row
                    .col
                      = recaptcha_tags hl: 'ru', class: 'mx-auto'
                .row.mt-4
                  .col.text-center
                    = f.form_group do
                      = f.primary t(:send)
