= content_tag_for :li, comment do
  .commenter-avatar
    - if comment.user
      = link_to comment.user do
        = image_tag comment.user.profile.avatar(:thumb), class: 'img-responsive img-circle'
    - else
      = image_tag image_url('missing_m.png'), class: 'img-responsive img-circle'
  .media-body
    .comment-title
      - if comment.user
        = link_to comment.user.login, comment.user
      - else
        = t 'users.inkognito'
      %span
        = rusdatecom comment.created_at

      - if show_commentable
        .pull-right= link_to comment.commentable.title, comment.commentable


    %p= comment.content
    = yield if block_given?