= content_tag_for(:div, comment, class: 'media col-12 col-md-6 col-lg-5 m-auto p-3 pt-lg-0') do
  .mr-3
    - if comment.user
      = link_to comment.user do
        = lazy_img(comment.user.profile.avatar(:thumb), comment.user.login, 'rounded-circle img-fluid')
    - else
      = lazy_img(image_url('missing_m.png'), 'Anonymous', 'rounded-circle img-fluid')
  .media-body
    .row
      .col-auto
        .h5
          - if comment.user
            = link_to comment.user.login, comment.user
          - else
            = t 'users.inkognito'
          %span.h6
            = rusdatecom comment.created_at
      - if show_commentable
        .col
          = link_to comment.commentable.title, comment.commentable

    - if show_commentable
      %p= truncate(comment.content, length: 140)
    - else
      %p= comment.content
    = yield if block_given?