%section.fdb-block.py-0
  .container.py-5.my-5
    .row.justify-content-center.py-5
      .col-12.col-md-10.col-lg-8.text-center
        = content_tag :div, class: 'exception', data: { status: @exception.status, response: @exception.response.to_s.humanize, rails: Rails.version }, onclick: "location.href=\"#{root_url}\";" do
          .h2.text-muted= content_tag :span, @exception.description.html_safe
          %p.lead.my-5= t "exception.error_#{@exception.status}"
          = link_to t('shared.to_home'), root_url, class: 'btn btn-primary'
