- set_meta_tags title: t('seo.users.sign_in'),
  description: t('seo.users.sign_in'),
  keywords: t('seo.users.sign_in'),
  index: false

.ragister-account.text-center.tr-section.tr-section-padding
  .account-content
    .section-title
      %h1= t :signin

    = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'contact-form contact-form-two'}) do |f|
      = f.form_group do
        = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email', hide_label: true
        = f.password_field :password, autocomplete: 'current-password', placeholder: User.human_attribute_name(:password), hide_label: true

      - if devise_mapping.rememberable?
        = f.form_group do
          .text-left
            = f.check_box :remember_me

      = f.primary t(:sign)

  .options= render '/users/links'