- article = article_admin

= content_tag_for(:tr, article) do
  %td
    .news-providers{ class: "news-#{article.provider}", title: t("articles.provider_#{article.provider}") }
  %td= link_to article.title, article.url, rel: 'nofollow', target: '_blank'
  %td
    - if can? :manage, Article
      = link_to t('actions.edit'), edit_article_path(article)
      = link_to t('actions.del'), article, confirm: t('actions.sure'), method: :delete
