- check_articles_exists = @articles.any?

- set_meta_tags title: t('articles.title'),
  description: t('articles.intro'),
  keywords: t('baseseo.articles.words', add: nil),
  index: true

.row
  .col-12.col-sm-4.col-md-3.tr-sticky
    .tr-section
      .section-title.title-before
        %h1= t 'articles.title'
      .section-body.text-muted
        = t 'articles.intro'

    .tr-section
      = ads_block('articles_vertical')

  .col-12.col-sm-8.col-md-9
    .tr-section.news
      .row.mb-3
        .col-12.col-md-5
          = render 'articles/search_form'
        - if check_articles_exists
          .col-12.col-md-7
            .float-right
              = raw pagy_bootstrap_nav(@pagy)
      - if check_articles_exists
        %table.table.table-hover.table-striped
          = render @articles
      - else
        %strong= t 'search.no_results'

      - if check_articles_exists
        .float-right
          = raw pagy_bootstrap_nav(@pagy)

- if check_articles_exists
  = render 'main/toplink'