- check_articles_empty = @articles.empty?

- set_meta_tags title: t('articles.title'),
  description: t('articles.intro'),
  keywords: t('baseseo.articles.words', add: nil),
  index: true

.row
  .col-12.col-sm-4.col-md-3.tr-sticky
    .tr-section
      .section-title.title-before
        %h1= t 'articles.title'
      .section-body.text-muted
        = t 'articles.intro'

    .tr-section
      = render 'main/yandex/articles_vertical'

  .col-12.col-sm-8.col-md-9
    .tr-section.news
      .row.mb-3
        .col-12.col-md-5
          = render 'articles/search_form'
        - unless check_articles_empty
          .col-12.col-md-7
            .float-right
              = render partial: 'pagy/nav', locals: { pagy: @pagy }
      - unless check_articles_empty
        %table.table.table-hover.table-striped
          = render @articles
      - else
        %strong= t 'search.no_results'

      - unless check_articles_empty
        .float-right= render partial: 'pagy/nav', locals: { pagy: @pagy }

- unless check_articles_empty
  = render 'main/toplink'