- check_articles_exists = @articles.any?

- set_meta_tags title: t('articles.title'),
  description: t('articles.intro'),
  keywords: t('baseseo.articles.words', add: nil),
  index: true

.row
  .col-12.col-sm-5.col-md-4.tr-sticky
    .tr-section
      .section-title.title-before
        %h1= t 'articles.title'
      .section-body.text-muted
        = t 'articles.intro'
        - if can? :manage, Article
          %br/
          = link_to t('actions.add'), new_article_path, class: 'btn btn-primary'
          = link_to t('actions.parse'), parse_articles_path, class: 'btn btn-primary'

  .col-12.col-sm-7.col-md-8
    .tr-section.news
      .row
        .col-12.col-md-5
          = render 'articles/search_form'
        - if check_articles_exists
          .col-12.col-md-7
            .float-right
              = raw pagy_bootstrap_nav(@pagy)
      - if check_articles_exists
        %table.table.table-hover.table-striped
          = render partial: 'article_admin', collection: @articles
      - else
        %strong= t 'search.no_results'

      - if check_articles_exists
        .float-right
          = raw pagy_bootstrap_nav(@pagy)

- if check_articles_exists
  = render 'main/toplink'