.tr-section
  = bootstrap_form_for(@user, html: { multipart: true, class: 'contact-form' }) do |f|
    .section-title
      %h1= t :editing

    .row
      .col-xs-12.col-md-4= f.text_field :login, class: 'form-control'

    .row
      = f.fields_for :profile do |p|
        .col-xs-4= p.select :gender, Profile::GENDERS, class: 'form-control'

        .col-xs-4
          = p.form_group :avatar do
            = p.file_field :avatar, class: 'input-file'
            %div(style="padding:10px 10px 0 0")= image_tag @profile.avatar.url(:thumb), class: 'thumbnail'

      - if current_user.role? :admin
        .col-xs-4
          = f.form_group "user[roles][]" do
            - for role in User::ROLES
              = check_box_tag "user[roles][]", role, @profile.user.roles.include?(role)
              = raw(role.humanize)
              = hidden_field_tag 'user[roles][]', ''
    = f.fields_for :profile do |p|
      = p.text_area :aboutme, rows: 3, class: 'form-control'

    .form-group
      .pull-left
        = f.primary
        = link_to t('profile.show'), @user, class: 'btn btn-default'

      - if (can? :manage, @user) || current_user==@user
        .pull-right
          = link_to(edit_user_registration_path, class: 'btn btn-default') do
            = fa_icon 'pencil-alt', text: t('user_link.edit_reg')