.tr-section
  = bootstrap_form_for(@user, html: { multipart: true, class: 'contact-form' }) do |f|
    .section-title
      %h1= t :editing

    .row
      .col-12.col-md-4= f.text_field :login, class: 'form-control'

    .row
      = f.fields_for :profile do |p|
        .col-4= p.select :gender, Profile::GENDERS, class: 'form-control'

        .col-4
          = p.form_group :avatar do
            = p.file_field :avatar, class: 'input-file'
            = image_tag @profile.avatar.url(:thumb), class: 'thumbnail mt-2'

      - if current_user.role? :admin
        .col-4
          = f.form_group :roles do
            = f.collection_check_boxes :roles, User::ROLES, :to_s, :to_s
    = f.fields_for :profile do |p|
      = p.text_area :aboutme, rows: 3, class: 'form-control'

    .form-group
      .float-left
        = f.primary
        = link_to t('profile.show'), @user, class: 'btn btn-secondary'

      - if (can? :manage, @user) || current_user==@user
        .float-right
          = link_to(edit_user_registration_path, class: 'btn btn-secondary') do
            = fa_icon 'pencil-alt', text: t('user_link.edit_reg')