.col.mb-4
  = link_to event, class: 'card h-100' do
    - if lazy
      = lazy_img(event.src(:thumb), event.title, 'card-img-top')
    - else
      = image_tag event.src(:thumb), class: 'card-img-top', alt: event.title
    .card-body
      %p.card-text.text-muted{ data: { animation: 'animated fadeInUp' } }
        - if event.eventdate?
          = rusdate(event.eventdate)
          - if event.finishdate?
            \ -
            = rusdate(event.finishdate)
      %h2.h5.card-title= event.title
