.col.mb-4
  = link_to event, class: 'card h-100' do
    - if lazy
      = image_tag asset_url('grey.gif'), class: 'b-lazy card-img-top', data: { src: event.src(:thumb), src_small: event.src(:thumb)}, alt: event.title
    - else
      = image_tag event.src(:thumb), class: 'card-img-top', alt: event.title
    .card-body
      %p.card-text.text-muted{ data: { animation: 'animated fadeInUp' } }
        - if event.eventdate?
          = rusdate(event.eventdate)
          - if event.finishdate?
            \ -
            = rusdate(event.finishdate)
      %h2.h5.card-title= event.title
