- set_meta_tags title: "#{@plustag}",
  description: t('baseseo.events.desc_full', add: nil),
  keywords: t('baseseo.events.words', add: nil),
  index: true

= render 'tabs'

.row
  .col-sm-9.order-sm-3#events.tr-padding-0
    .row.row-cols-1.row-cols-md-3.row-cols-xl-4
      = render partial: 'events/event', collection: @events, locals: { lazy: true }

  .col-sm-3.col-sm-pull-9.tr-sticky
    .tr-section
      .tr-post
        .post-content
        .text-muted= t 'events.about_html'
        .text-center.tr-section-padding-top
          = link_to(new_event_path, class: 'btn btn-primary') do
            = fa_icon 'plus', text: t(:new)
    .tr-section
      = ads_block('events_vertical')

= render 'main/toplink'