-# frozen_string_literal: true
= bootstrap_form_for([@page, @block]) do |f|
  .section-title
    %h1= formtitle

  = f.text_field :title
  = f.text_area :content
  = f.primary
  = link_to t('back'), @page, class: 'btn btn-secondary'
