%p#notice= notice

%p
  %b Content:
  = @block.content
%p
  %b Type:
  = @block.type
%p
  %b Position:
  = @block.position
%p
  %b Page:
  = @block.page

= link_to 'Edit', edit_block_path(@block)
\|
= link_to 'Back', blocks_path
