-# frozen_string_literal: true

= bootstrap_form_for @page, html: { multipart: true, class: 'contact-form' } do |f|
  .section-title
    %h1= formtitle

  = f.text_field :title

  = f.form_group do
    = f.primary
