- model_class = Letter

.card
  .card-header
    .h4
      = t 'letters.title'
      %small= link_to t('actions.add'), new_letter_path, class: 'btn btn-primary'
  .card-body.p-0
    %table.table.table-striped.m-0
      %thead
        %tr
          %th= model_class.human_attribute_name(:id)
          %th= model_class.human_attribute_name(:content)
          %th= model_class.human_attribute_name(:email)
          %th= model_class.human_attribute_name(:created_at)
          %th=t '.actions', :default => t("helpers.actions")
      %tbody= render @letters


