- @page.css('.flex_display').each do |link|
  .row.well
    .col-12
      %h5= link.at_css('.timetable-single-description h3').text
      %p.well
        = raw link.css('.timetable-single-description p').text
      - date= link.at_css('time')
      %p
        =dd = link.at_css('.timetable-single-date h4').text  + "  #{DateTime.now.year}"
      %p= DateTime.strptime(russian_to_english_date(dd), '%d %b %Y')
      %p
        - date = link.at_css('.col-md-2.col-sm-2').text
        = /\d{2}:\d{2}/.match(date)
