%ul
  %li= link_to 'dkkarl', parser_dkkarl_path
  %li= link_to 'dklepse', parser_dklepse_path
  %li= link_to 'dkoctober', parser_dkoctober_path
  %li= link_to 'dkzio', parser_dkzio_path
  %li= link_to 'druzhba', parser_druzhba_path
  %li= link_to 'dubrov', parser_dubrov_path
  %li= link_to 'inpodolsk', parser_inpodolsk_path
  %li= link_to 'karofilm', parser_karofilm_path
  %li= link_to 'metal lvov', parser_metal_lvov_path
  %li= link_to 'metallv', parser_metallv_path
  %li= link_to 'molodezh', parser_molodezh_path
  %li= link_to 'news_admin', parser_news_admin_path
  %li= link_to 'news_riamo', parser_news_riamo_path
  %li= link_to 'new_tvkvarc', parser_news_tvkvarc_path
  %li= link_to 'parktal', parser_parktal_path
  %li= link_to 'podolsk', parser_podolsk_path
  %li= link_to 'podolsk_cat', parser_podolsk_cat_path
  %li= link_to 'sherbinka', parser_sherbinka_path
  %li= link_to 'spravka', parser_spravka_path
  %li= link_to 'vzpodolsk', parser_vzpodolsk_path
