= @pages
- @pages.each do |page|
  dfg
  - page.css('article').each do |link|
    .row.well
      .col-9
        %h5= title = link.at_css('.views-field-title .field-content a').text
        %p= link.at_css('.views-field-body .field-content').text
        %p= image_tag(link.at_css('.views-field-field-slide img').attr(:src)) if link.at_css('.views-field-field-slide img')
        %p= /\d{1,2} [а-яА-Я0-9]+ - \d{1,2} [а-яА-Я]+$/.match(title) || /\d{1,2} [а-яА-Я]+ \d{1,2}:\d{1,2}$/.match(title)
