.nested-fields.border.border-info.p-3.my-5
  .row
    .col-12.col-md-6= f.text_field :address
    .col-12.col-md-6= f.text_field :phone, placeholder: t('addresses.if_foreign')
    .col-12.col-md-6= f.text_field :worktime, placeholder: t('placeholders.worktime')
  - if current_user&.role? :admin
    .row
      .col-6= f.text_field :latitude
      .col-6= f.text_field :longitude
  = link_to_remove_association t('address.delete'), f