.row
  .col-12
    .card
      .card-header
        = link_to organization_user.title, organization_user
        - if organization_user.status? 'hidden'
          %span.badge.badge-warning= t 'organizations.check_short'
      .card-body
        .entry-meta
          %ul
            %li= t('actions.was_public', date: rusdatecom(organization_user.created_at))
            %li= plural organization_user.categories.size, 'category'
            %li= plural organization_user.views, 'view'
