.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        = link_to organization_user.title, organization_user
        - if organization_user.status? 'hidden'
          %span.label.label-warning= t 'organizations.check_short'
      .panel-body
        .entry-meta
          %ul
            %li= t('actions.was_public', date: rusdatecom(organization_user.created_at))
            %li= plural organization_user.categories.size, 'category'
            %li= plural organization_user.views, 'view'
