- check_categories = @categories.empty?
- check_orgs = @organizations.empty?

.row
  .col-sm-12
    .tr-section
      .col-xs-12.col-sm-6
        .section-title.title-before
          %h1= t 'search.result'
      .col-xs-12.col-sm-6= render 'organizations/search_form'

  - unless check_categories
    .col-sm-12
      .tr-section
        .col-xs-12
          .section-title
            %strong= t('search.find', item: plural(@categories.count, 'category'))
        = render partial: 'categories/category_result', collection: @categories

  - unless check_orgs
    .col-sm-12
      .tr-section
        .col-xs-12.col-sm-12
          .section-title
            %strong= t('search.find', item: plural(@organizations.count, 'organization'))
        %ol= render @organizations

  - if check_categories && check_orgs
    .col-sm-12
      .tr-section
        .col-xs-12.col-sm-12
          .section-title
            %strong= t 'search.no_results'
