- set_meta_tags title: @organization.title,
  description: @organization.title,
  keywords: @organization.title,
  index: true

.container-fluid
  .row.text-center.top-block(style="background-image: url(#{asset_url('bar-long.jpg')});")
    .col.align-self-center

      .container.py-5
        - if @organization.logo?
          .row.mb-4.justify-content-center
            .col-6.col-md-3
              = image_tag(@organization.logo.url, class: 'img-fluid animated fadeInDown' , alt: @organization.title)
        .row
          .col
            %h1.h2.text-white.animated.fadeInUp
              = @organization.title

%section.fdb-block.py-5{style: "background-image: url(#{image_url 'shapes/9.svg'})" }
  .container
    .row
      - if current_user
        - if current_user.role? :admin
          - if @organization.status? 'hidden'
            .col-12
              .alert.alert-warning
                = t 'organizations.need_check'
          - elsif @organization.status? 'blocked'
            .col-12
              .alert.alert-danger
                = t 'organizations.is_blocked'
          .col
            - if @organization.email?
              %p= @organization.email
            .dropdown
              %button.btn.btn-primary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
                %span.fa.fa-cog
              .dropdown-menu.dropdown-menu-top
                = link_to t('actions.edit'), [:edit, @organization], class: 'dropdown-item'
                = link_to t('actions.edit_access'), [:edit_access, @organization], class: 'dropdown-item'
                = link_to t("actions.#{@organization.shown? ? 'deaccept' : 'accept'}"), [:accept, @organization], class: 'dropdown-item', method: :put
                = link_to t("actions.#{@organization.blocked? ? 'deblock' : 'block'}"), [:block, @organization], class: 'dropdown-item', method: :put
                = link_to t('actions.del'), organization_path(@organization), method: :delete, data: { confirm: t('actions.sure') }, class: 'dropdown-item'
      - elsif current_user == @organization.user
        - if can? :edit, @organization
          - if @organization.status? 'hidden'
            .col-12
              .alert.alert-warning
                = t 'organizations.check'
          .col= link_to t('actions.edit'), [:edit, @organization], class: 'btn btn-primary'
      .col
        .float-right= render 'bugs/bugs_panel'

      - if @organization.desc?
        .col-12.pt-4
          .text-muted.float-right
            = plural @organization.views, 'view'
          %p= raw @organization.desc

.row
  .col
    = ads_block('org_horizontal')

%section.fdb-block.p-0
  .container-fluid.p-0
    .bg-dark
      .container
        .row-50
        .row.justify-content-center.text-center
          - if @organization.phone?
            .col-12.col-md.mr-auto.ml-auto
              = fa_icon 'phone 3x', class: 'mb-2'
              .pt-3.h3.font-weight-normal
                = @organization.phone

          - if @addresses.size > 0
            .col-12.col-md.pt-4.pt-md-0.mr-auto.ml-auto
              = fa_icon 'map-marked-alt 3x', class: 'mb-2'

              - @addresses.each do |addr|
                %p{ class: (addr.phone? || addr.worktime?) ? 'link-hover' : nil,
                     data: { toggle: 'collapse', target: "#collapse_#{addr.id}" },
                     aria: { expanded: 'false', controls: "#collapse_#{addr.id}" } }
                  - if addr.phone? || addr.worktime?
                    .float-right= fa_icon 'info-circle'
                  %address
                    = addr.address
                    - if addr.phone? || addr.worktime?
                      .collapse{ id: "collapse_#{addr.id}" }
                        %table.table.table-sm
                          - if addr.worktime?
                            %tr
                              %td
                                = fa_icon 'calendar-alt'
                              %td= addr.worktime
                          - if addr.phone?
                            %tr
                              %td
                                = fa_icon 'phone'
                              %td= addr.phone

          - if @organization.worktime?
            .col-12.col-md.pt-4.pt-md-0.mr-auto.ml-auto
              = fa_icon 'clock 3x', class: 'mb-2'
              .pt-3.h3.font-weight-normal
                = @organization.worktime


          - if @organization.site?
            .col-12.col-md.pt-4.pt-md-0.mr-auto.ml-auto
              = fa_icon 'wifi 3x', class: 'mb-2'
              .pt-3.h3.font-weight-normal
                = link_to t('organizations.go_site'), @organization.site, target: '_blank', rel: 'nofollow', class: 'text-white'

        .row-50

  .container-fluid.p-0
    .map-container= render('main/multi_map', list: @addresses, center: true, zoom_int: 12, title: @organization.title, hide_info: true) if @addresses.size > 0

= render 'comments'
%section.fdb-block.p-0
  - if @other_organizations.any?
    .container-fluid.p-0
      .tr-widget.tr-section
        .widget-title
          %span
            = t 'organizations.maybe_others'

        .catagory-list.other-organizations-columns.card-columns
          = render partial: 'organization_small', collection: @other_organizations

.row
  .col-12
    .tr-section
      %ul.nav
        - @categories.each do |category|
          %li.nav-item= link_to category.title, category, class: 'nav-link'

