%button.btn.btn-sm.btn-secondary.dropdown-toggle{ data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
  %span.fa.fa-cog
.dropdown-menu
  - if @hidden_orgs > 0
    = link_to(hidden_organizations_path, class: 'dropdown-item') do
      = t('organizations.hidden')
      %span.badge.badge-secondary
        = @hidden_orgs
  = link_to t('organizations.blocked'), blocked_organizations_path, class: 'dropdown-item'
  = link_to '+ category', new_category_path, class: 'dropdown-item'
  = link_to '+ parse categories', create_list_categories_path, class: 'dropdown-item', method: :post
  = link_to 'search', organizations_path(to_search_nil: 'site'), class: 'dropdown-item'
