= bootstrap_form_for @category, html: { class: 'contact-form' } do |f|
  = f.hidden_field :parent_id
  = f.text_field :title
  = f.text_area :desc
  = f.primary
  = link_to t('actions.cancel'), categories_path, class: 'btn btn-default'
