- set_meta_tags title: t('seo.helper.organizations'),
  description: t('baseseo.orgs.desc'),
  keywords: t('baseseo.orgs.words'),
  index: true

= render 'action'

- if current_user
  - orgs = current_user.organizations
  - if orgs.any?
    .row
      .col-sm-12
        .tr-section
          .section-title.title-before
            .h4= t 'organizations.own'
          .post-content
            %table.table.table-sm
              - orgs.each do |org|
                %tr
                  %td
                    = link_to org.title, org
                    - if org.status? 'hidden'
                      %span.badge.badge-warning= t 'organizations.check_short'

.section-title
  .title-strong
    %span= t 'categories.title'
    = render 'admin_panel' if can? :manage, Category

= render 'organizations/search_form'

.row
  .col
    .card-columns
      - @categories.each do |category|
        .card
          .card-body
            .section-title.title-before.mb-4
              %h4
                = link_to category.title, category_path(category)
                - if can? :manage, category
                  .dropdown.float-right
                    .dropdown-toggle{ data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
                      %span.fa.fa-cog
                    .dropdown-menu.dropdown-menu-right
                      = link_to t('categories.new'), new_category_path(parent_id: category.id), class: 'dropdown-item'
                      = link_to 'create orgs', create_multi_orgs_category_path(category), method: :post, class: 'dropdown-item'
                      = link_to t('actions.edit'), edit_category_path(category), class: 'dropdown-item'
                      = link_to t('actions.del'), category, method: :delete, data: { confirm: t('actions.sure') }, class: 'dropdown-item'
            %table.table.table-sm.mb-0
              = render partial: 'categories/descendant', collection: category.descendants.order(:title)
= render 'main/toplink'