- set_meta_tags title: @category.title,
  description: @category.title,
  keywords: @category.title,
  index: true

.row
  .col-sm-12
    .tr-section
      %nav(aria-label='breadcrumb')
        %ol.breadcrumb
          %li.breadcrumb-item(aria-current='page')= link_to t('categories.title'), categories_path
          - @category.ancestors.each do |a|
            %li.breadcrumb-item(aria-current='page')= link_to a.title, a
          %li.active.breadcrumb-item(aria-current='page')
            %h1.h4.d-inline.text-danger.my-0= @category.title

      .row
        .col-md-6.mb-3.mb-md-0
          = link_to t('organizations.add'), new_organization_path(category: (@category.root? ? nil: @category.id) ), class: 'btn btn-primary'
          - if can? :manage, @category
            %button.btn.btn-secondary.dropdown-toggle{ data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
              %span.fa.fa-cog
            .dropdown-menu
              = link_to t('actions.edit'), edit_category_path(@category), class: 'dropdown-item'
              = link_to t('actions.del'), category_path(@category), method: :delete, data: { confirm: t('actions.sure') }, class: 'dropdown-item'
              = link_to 'create orgs', create_orgs_category_path(@category), method: :post, class: 'dropdown-item'
        .col-md-6
          = render 'organizations/search_form'

      .row
        .col-12.col-sm-5
          - if @category.desc?
            .well= @category.desc
          %table.table.table-sm
            = render partial: 'categories/descendant', collection: @category.descendants.order(:title)

          .tr-post
            .post-content
              - if @organizations.any?
                %ol= render(@organizations)
                - if current_user&.role? :admin
                  %hr
                  %ol= render @category.organizations.hidden
              - else
                .text-muted.well= t 'organizations.empty'

        .col-12.col-sm-7.category-events.tr-sticky
          = render('main/multi_map', list: @addresses, center: false, zoom_int: 12) if @addresses.size > 0

