- menu_style ||= nil

.tr-topbar.clearfix.margin-bottom-0
  .row
    .col-sm-3.tr-sidebar.tr-sticky
      = link_to root_url, class: 'navbar-brand' do
        = image_tag 'logo-small.png', class: 'img-fluid'
    .col-sm-8.offset-sm-1.nnews
      .topbar-left= render 'layouts/news'
      .topbar-right= render 'users/userbar'
.tr-menu.menu-responsive{ class: menu_style }
  %nav.navbar.navbar-light.navbar-expand-lg.px-0
    %button.navbar-toggler.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar-collapse' }, aria: {controls:"navbar-collapse", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon
    #navbar-collapse.collapse.navbar-left.navbar-collapse
      %ul.nav.navbar-nav= render 'main/menu'
