!!! 5
%html(lang='ru')
  = render 'layouts/header'
  %body
    = render 'layouts/metrika' if Rails.env.production?
    - unless flash.empty?
      .container-fluid#flash
        .row
          .col-sm-12
            .flash-content.text-center
              - flash.each do |name, msg|
                = content_tag :div, msg

    .main-wrapper.tr-page-top
      .container-fluid
        = render 'layouts/menu'
        = yield
      = render 'layouts/bottom'
    = javascript_include_tag :application
    = yield :js