!!! 5
%html(lang='ru')
  = render 'layouts/header'
  %body{ class: (%w[photos places].include? params[:controller]) ? 'homepage-3' : nil }
    = render 'layouts/metrika' if Rails.env.production?
    - if flash.any?
      .container-fluid#flash
        .row
          .col-sm-12
            .flash-content.text-center
              - flash.each do |name, msg|
                = content_tag :div, msg

    = render 'layouts/menu'

    - if %w[photos places].include? params[:controller]
      .slider-style-three
        .slide
          .carousel-inner(role='listbox')
            .item.carousel-item.active
              .slider-overlay
                .container
                  .post-content
                    %h1.entry-title.animated.fadeInUp
                      = link_to t('live.title'), '#'
                    %span.catagory.animated.fadeInUp.text-white
                      = t('live.title_short')
    - if %w[organizations].include? params[:controller]
      = yield
    - else
      .container-fluid
        = yield

    = render 'layouts/footer'
