!!! 5
%html(lang='ru')
  = render 'layouts/header'
  %body{ class: (%w[photos places].include? params[:controller]) ? 'homepage-3' : nil }
    = render 'layouts/metrika' if Rails.env.production?
    - if flash.any?
      .container-fluid#flash
        .row
          .col-sm-12
            .flash-content.text-center
              - flash.each do |name, msg|
                = content_tag :div, msg

    = render 'layouts/menu'

    - if %w[photos places].include? params[:controller]
      .container-fluid
        .row.text-center.top-block(style="background-image: url(#{asset_url('live-long.jpg')});")
          .col.align-self-center
            %h1.animated.fadeInUp
              = link_to t('live.title'), '#', class: 'text-white'
            .lead.animated.fadeInUp.text-white
              = t('live.title_short')
    - if %w[organizations].include? params[:controller]
      = yield
    - else
      .container-fluid
        = yield

    = render 'layouts/footer'
