!!! 5
%html(lang='ru')
  = render 'layouts/header'
  %body
    - if flash.any?
      .container-fluid#flash
        .row
          .col-sm-12
            .flash-content.text-center
              - flash.each do |name, msg|
                = content_tag :div, msg

    = render 'layouts/menu'
    .container-fluid
      = content_tag :body, yield
    = render 'layouts/footer'
