!!! 5
%html(lang='ru')
  = render 'layouts/header'
  %body.homepage-3
    = render 'layouts/metrika' if Rails.env.production?
    - unless flash.empty?
      .container-fluid#flash
        .row
          .col-sm-12
            .flash-content.text-center
              - flash.each do |name, msg|
                = content_tag :div, msg

    .main-wrapper
      .tr-pixed-top
        .container-fluid
          = render 'layouts/menu', menu_style: 'menu-style-two'
      .slider-style-three
        .slide
          .carousel-inner(role='listbox')
            .item.carousel-item.active
              .slider-overlay
                .container
                  .post-content
                    %h1.entry-title.animated.fadeInUp= link_to t('live.title'), '#'
                    %span.catagory.animated.fadeInUp
                      %a= t('live.title_short')

      = yield
      = render 'layouts/bottom'
    = javascript_include_tag :application
    = yield :js